body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: #2D3436;
    color: #EEEEEE;
    margin: 0;
}

.intro{
    font-size:30px;
    position: absolute;
    top: 160px;
    left: 10px;
    h1{
        margin: 0;
        
    }
}

.navigation{
    text-align: center;
    font-size: 30px;
    position: relative;
    background-color: #202020;
    height: 604px;
    margin: 0;
    padding: 0;
    width: 550px;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
 .navigation{
    align-self: flex-end;
    
    div{
      display: flex;
      height: 500px;
      align-items: center;
      justify-content: center;
    }

    a {
     text-decoration: none;
     color: #EEEEEE;
     padding: 10px;

     &:visited
     {
      color: #EEEEEE;
     }

    }

    }
}

.profile-image img{
 border-radius: 50%;
}

.button-8{
    color: black;
    background-color: #00CEC9;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 25px;
    width: 160px;
    border-color:  #00CEC9;
    font-size: 14px;
    font-weight: bold;
    &:hover{
     background-color: aqua;
     border-color: aqua;
     cursor: pointer;
    }
}

.divider{
 text-align: center;
 font-size: 30px;
 margin: 20px 0 20px 0;
}


.works{
 text-align: center;
}

.works-sub1{
 display: flex;
 text-align: left;
 align-self: center;
 img{
 height: 150px;
 width: 150px;
 margin-left: 100px;
 margin-bottom: 20px;
 }
 p{
  padding: 10px;
  font-size: 25px;
 }
 }

 .works-sub2{
  display: flex;
  text-align: left;
  justify-content: right;
  img{
  height: 150px;
  width: 150px;
  }
  p{
   padding: 10px;
   font-size: 25px;
   text-align: right;
  }
  }
 
  .works-sub3{
   display: flex;
   text-align: left;
   align-self: center;
   img{
   height: 150px;
   width: 150px;
   margin-left: 100px;
   margin-top: 20px;
   }
   p{
    padding: 10px;
    font-size: 25px;
   }
   }