

.body-cv{
    background-color: white;
}

.cv-p{
    display: inline-block;
    color: black;
    font-size: 200px;
    border: 3px solid red;
    margin: 150px auto;
    
}

.container-cv{
    text-align: center;
}