
.body-cv{
    display: flex;
    flex-direction: row;
    
}
.container-cv{
    width: 300px;
    background-color: #202020;
    height: 604px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    p{
        margin: 0;
    }

    h1{
        font-size: 25px;
    }
}


.cv-image img{
    border-radius: 50%;
    align-self: center;
    margin-top: 20px;
    &:hover{
        border: #00CEC9 solid 2px;
    }
    }

    .cv-content{
        width: 700px;
        h1, p{
            margin: 8px 40px;
        }
    }

    .art-tittle{
        font-weight: bolder;
        text-decoration: underline;
    }
   
.back{
        
        margin:10px 10px;
    
    &:visited{
    color: white;
    text-decoration: none;
    }

    &:hover{
        color: #00CEC9;
        text-decoration: underline;
    }

}




