// BREAKPOINTS
$phone-medium: 22.5em; // 360px
$phone-large: 30em; // 480px
$phablet: 37.5em; // 600px
$tablet: 48em; // 768px
$tablet-large: 56.25em; // 900px
$desktop: 64em; // 1024px
$desktop-medium: 75em; // 1200px
$desktop-large: 112.5em; // 1800px

// COLORS
$header-bg: #243544;
$header-txt: #f0f0f0;
$header-accent: #5dcdc5;

$divide: #dee2e6;