@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");
body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #2D3436;
  color: #EEEEEE;
  margin: 0;
}

.intro {
  font-size: 30px;
  position: absolute;
  top: 160px;
  left: 10px;
}

.intro h1 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation {
  text-align: center;
  font-size: 30px;
  position: relative;
  background-color: #202020;
  height: 604px;
  margin: 0;
  padding: 0;
  width: 550px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .navigation {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-bottom-left-radius: 25%;
}

.container .navigation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.container .navigation a {
  text-decoration: none;
  color: #EEEEEE;
  padding: 20px 10px 0px;
}

.container .navigation a:visited {
  color: #EEEEEE;
}

.container .navigation a:hover {
  cursor: pointer;
  color: aqua;
  border-bottom: 1px aqua solid;
}

.profile-image img {
  border-radius: 50%;
}

.profile-image img:hover {
  border: #00CEC9 solid 2px;
}

.button-8 {
  color: black;
  background-color: #00CEC9;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 25px;
  width: 160px;
  border-color: #00CEC9;
  font-size: 14px;
  font-weight: bold;
  margin-left: 25px;
}

.button-8:hover {
  background-color: aqua;
  border-color: aqua;
  cursor: pointer;
}

.divider {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 20px 0;
}

.works {
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #202020;
}

.works-sub1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.works-sub1 img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.works-sub1 p {
  padding: 10px;
  font-size: 25px;
}

.works-sub2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.works-sub2 img {
  height: 150px;
  width: 150px;
  margin-right: 100px;
}

.works-sub2 p {
  padding: 10px;
  font-size: 25px;
  text-align: right;
}

.works-sub3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.works-sub3 img {
  height: 150px;
  width: 150px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.works-sub3 p {
  padding: 10px;
  font-size: 25px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2D3436;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about h1 {
  text-align: left;
  margin-left: 30px;
  font-size: 40px;
}

.about-tags {
  text-align: left;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  color: #00CEC9;
  padding-left: 20px;
  padding-bottom: 5px;
}

.about-content {
  text-align: right;
  font-size: 25px;
  padding-right: 20px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #202020;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-text p {
  margin: 0;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-icons i {
  font-size: 25px;
  color: #00CEC9;
  padding-top: 150px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?88kz9k");
  src: url("../fonts/icomoon.eot?88kz9k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?88kz9k") format("truetype"), url("../fonts/icomoon.woff?88kz9k") format("woff"), url("../fonts/icomoon.svg?88kz9k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-linkedin:before {
  content: "\eaca";
}

.body-cv {
  background-color: white;
}

.cv-p {
  display: inline-block;
  color: black;
  font-size: 200px;
  border: 3px solid red;
  margin: 150px auto;
}

.container-cv {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */